.container{
    max-width:400px;
    marging :10vh auto 0 auto;
    background-color: rgb(140, 165, 195);

}

#display{
    text-align: right;
     height: 70px;
     line-height: 70px;
     padding: 16px 8px;
     font-size: 25px;
    

}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: ipx solid #999;
}
.buttons div{
    border-top: 1px solid #999;
    border-right:1px solid #999 ;
     
}

.button {
    border: 0.5 px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor:pointer;

}

#equal{
    background-color: rgb(50, 81, 182);
    color: white;
}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}